.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache

# Python
__pycache__
.python-version

# Point Cloud Data
*.ply
*.obj
*.pcd
*.las
*.lasx
*.laszip
*.laszipx
*.laz

# Compressed files
*.zip
*.tar
*.gz
*.bz2
*.rar
*.7z